<div id="form_field">
	<p id="notice"><%= notice %></p>

	<p class="fields_show">
	  <strong>Full name:</strong>
	  <%= @project.full_name %>
	</p>

	<p class="fields_show">
	  <strong>Email:</strong>
	  <%= @project.email %>
	</p>

	<p class="fields_show">
	  <strong>Phone:</strong>
	  <%= @project.phone %>
	</p>

	<p class="fields_show">
	  <strong>Description:</strong>
	  <%= @project.description %>
	</p>

	<%= link_to 'Edit', edit_project_path(@project), :id=>"link" %> |
	<%= link_to 'Back', projects_path, :id=>"link" %>
</div>