<%= form_for(@project, :html=> {:multipart => true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
 <% end %>

  <div class="field_1">
    <%= f.label :full_name, :class=>"field_labels" %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field_1">
    <%= f.label :email, :class=>"field_labels" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field_1">
    <%= f.label :phone, :class=>"field_labels" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field_2">
    <%= f.label :description, :class=>"field_labels" %><br>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :id=>"submit_buttom" %>
  </div>
<% end %>
