<br>
<div id="wrapper">
	<p id="fair">Fair.</p>
	<br>
	<p id="reliable">Reliable.</p>
	<br>
	<p id="smart">Smart.</p>
</div>

<div class="partial_block">
<div class="partial" id="what_we_do"> 
	<%= render "what_we_do"%>
</div>
</div>

<div class="partial_block">
<div class="partial" id="how_we_work"> 
	<%= render "how_we_work"%>
</div>
</div>

<div class="partial_block">
<div class="partial_2" id="about_us">
	<%= render "about_us"%>
</div>
</div>


<div class="partial_block">
<div class="partial" id="contact"> 
	<%= render "contact"%>
</div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "arrows", "data-turbolinks-track" => true %>